.wrapper{
    margin: 20px 30px;
}

.currency{
    font-size: 100px;
    margin: 0;
    padding: 0;
}

.currency-value{
    font-size: 20px;
    margin: 0;
}

.card-shadow{
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.cf-logo{
    width: 225px;
    height: auto;
}

.disp-inline{
    display: inline-block;
}

.icons-menu{
    font-size: 40px;
    padding: 0 30px;
}

i[class*='-vk']{
    color: #5181B8;
    margin-top: 10px;
    margin-left: 5px;
}

i[class*='-youtube']{
    color: #DA281D;
    margin-top: 9px;
    margin-left: 5px;
}

i[class*='-github']{
    color: black;
    margin-top: 9px;
    margin-left: 8px;
}

i[class*='-envelope']{
    color: black;
    margin-top: 10px;
    margin-left: 7px;
}

i[class*='-yandex']{
    color: red;
    margin-top: 10px;
    margin-left: 15px;
}

.icons-menu > * > a{
    border-radius: calc(55px / 2);
    min-width: 55px !important;
    min-height: 55px !important;
    max-width: 55px !important;
    max-height: 55px !important;
    width: 55px !important;
    height: 55px !important;
    text-align: center;
    /* padding-bottom: 10px; */
}
/* 
.icons-menu > * > a > i{
    margin-bottom: 10px;
} */

.icons-menu > * > a:hover{
    background-color: rgb(142, 162, 185);
    text-decoration: none;
}