<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Dashboard</a>
    <form class="form-inline my-2 my-lg-0" id="search-form">
      <input class="form-control mr-sm-2" type="text" placeholder="Search in Yandex" id="query" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" id="search" type="submit">Search</button>
    </form>
    <span class="navbar-brand text-white ml-auto">Created By <a href="https://github.com/DenVilk">DenVilk</a></span>
  </nav>