<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Dashboard</a>
    <form class="form-inline my-2 my-lg-0" id="search-form">
      <input class="form-control mr-sm-2" type="text" placeholder="Search in Yandex" id="query" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" id="search" type="submit">Search</button>
    </form>
    <span class="navbar-brand text-white ml-auto">Created By <a href="https://github.com/DenVilk">DenVilk</a></span>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        {% if host == 'localhost' %}
        <a class="nav-link" href="http://wiki.localhost">Wiki</a>
        {% else %}
        <a class="nav-link" href="http://wiki.dashboard.loc">Wiki</a>
        {% endif %}
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" id="search-form">
      <input class="form-control mr-sm-2" type="text" placeholder="Search in Yandex" id="query" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" id="search" type="submit">Search</button>
    </form>
  </div>
</nav>